@*
 * @file        App.razor
 * @project     Health-Vision — 3D Interactive Human Anatomy Platform
 * @author      Health-Vision
 * @copyright   Copyright (c) 2026 Health-Vision. All Rights Reserved.
 * @license     Proprietary — See LICENSE file for full terms.
 *
 * CONFIDENTIAL AND PROPRIETARY SOURCE CODE.
 * Unauthorized copying, modification, or distribution is strictly prohibited.
 * For licensing inquiries: legal@healthvision.io
 *@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <ResourcePreloader/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["HealthVision.Web.styles.css"]"/>
    <ImportMap/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<ReconnectModal/>
<script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>